@{
    ViewBag.Title = "İletişim";
    Layout = "_Layout";
}

<div class="main-content container">
    <h2>İletişim</h2>
    <p><strong>Web Site:</strong> <a href="https://pinesoftware.net" style="font-style: italic !important;">Pine Software</a></p>
    <p><strong>Email:</strong> <a href="mailto:pine.software.team@gmail.com" style="font-style: italic !important;">pine.software.team@gmail.com</a></p>
    <h3>Ekibimizle İletişime Geçin</h3>
    <ul>
        <li><strong>Emir Safa Yavuz:</strong> <a href="mailto:emirsafayavuz@gmail.com" style="font-style: italic !important;">emirsafayavuz@gmail.com</a> <a href="https://emirsafayavuz.com" target="_blank" style="font-style: italic !important;">Web Sitesi</a></li>
        <li><strong>Berkay Aydemir:</strong> <a href="mailto:berkayaydmr@hotmail.com" style="font-style: italic !important;">berkayaydmr@hotmail.com</a></li>
        <li><strong>Fatih Kürekçi:</strong> <a href="mailto:fatihkr02@gmail.com" style="font-style: italic !important;">fatihkr02@gmail.com</a> <a href="https://fatihkurekci.com/" style="font-style: italic !important;">Web Sitesi</a></li>
    </ul>
</div>