@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- Ana İçerik Bölümü -->
<div class="main-content">
    <h2>Pine Software'a Hoşgeldiniz!</h2>
    <p>
        Pine Software olarak, web, mobil ve backend servisler alanlarında yüksek kalitede çözümler sunmaktayız.
        Ekibimiz, işinizin ihtiyaçlarına uygun özel yazılım çözümleri geliştirmek için burada. Hizmetlerimizi keşfedin,
        ekibimiz hakkında bilgi alın ve herhangi bir sorunuz olduğunda bizimle iletişime geçmekten çekinmeyin.
        Pine Software ile işinize değer katın!
    </p>
    <a href="https://test.pinesoftware.net" target="_blank">Test Pine Software Sitesi</a>
</div>

<!-- Sidebar Bölümü -->
<aside class="sidebar">
    <h3>Projelerimiz</h3>
    <ul>
        <li><a href="https://pineink.net" target="_blank">Pine Ink Mobil</a></li>
        <li><a href="https://broythotel.com" target="_blank">Broyt Hotel Web</a></li>
        <li><a href="https://aircenter.com.tr" target="_blank">Air Center Web</a></li>
        <li><a href="https://pozitifpsikoloji.com.tr" target="_blank">Pozitif Psikoloji Web</a></li>
        <li><a href="https://ulugolramat.com" target="_blank">Ulugöl Ramat Web</a></li>
        <li><a href="https://asyapompa.com.tr" target="_blank">Asya Pompa Web</a></li>
        <li><a href="https://alpindustrial.com" target="_blank">Alp Endüstriyel Soğutma Web</a></li>
        <li><a href="https://bakimtakip.net" target="_blank">Bakimtakip.net Mobil</a></li>
        <li><a href="#">Pine Movie Mobil</a></li>
    </ul>
</aside>