@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="main-content container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="main-content">
                <h2>Şirketimizin Geçmişi</h2>
                <div class="content-wrapper">
                    <img src="~/images/PineSoftware.png" alt="Pine Software Logo" class="img-fluid logo-img">
                    <p>
                        2020 yılında kurulan Pine Software, 3 bilgisayar mühendisliği öğrencisinin bir araya gelerek oluşturduğu bir yazılım geliştirme
                        platformudur. İlk olarak freelance projelerle başladığımız yolculuğumuza, farklı sektörlerdeki müşterilere en kaliteli çözümleri
                        sunarak devam ediyoruz. Gelişen teknoloji dünyasında yenilikçi ve müşteri odaklı çözümler üretmeye kendimizi adadık.
                    </p>
                </div>
            </div>

            <div class="main-content mt-4">
                <h3>Uzmanlık Alanlarımız</h3>
                <ul>
                    <li>.NET, Golang, Swift, Flutter, Angular, React gibi geniş bir teknoloji yelpazesinde deneyim</li>
                    <li>Web, mobil ve backend geliştirme</li>
                    <li>Freelance projelerle müşteriye özel yazılım çözümleri üretme</li>
                    <li>Hızlı ve güvenilir teslimat</li>
                    <li>Yüksek müşteri memnuniyeti odaklı hizmet</li>
                </ul>
            </div>

            <!-- Image overlay example -->
            <div class="main-content mt-4 p-4" style="background-color: #6930EE">
                <h3>Vizyonumuz</h3>
                <div class="image-overlay-container">
                    <img src="~/images/PineSoftware.png" alt="Pine Software Logo" class="img-fluid">
                    <h3 class="image-overlay-title">Yenilik ve Güven</h3>
                </div>
            </div>
        </div>
    </div>
</div>